{% extends "layout.html" %}

{% block about %}
	<p id="about_page_style">
		<b>QUICKPEDIA is a Online Simplified Encyclopedia.</b>
		<br>
		<i>Date of Inception: 21 March 2021</i>
		<br><br>
		"Quickpedia" is a Web-Based, Free content Encyclopedia Project.
		<br><br>
		As a techie myself, I felt that the current information present in the internet is sometimes overwhelming and is designed to serve only those amongst whom have the time and patience to read through the entire article.
		<br>
		If a person is interested in just the essential facts of the article, there is nothing for them. So i thought of building something that i myself would want to use.
		<br>
		I built Quickpedia with a promise to deliver information, in less than 1000 words, containing only the essential facts, compromising on anything that is close to opinionating and storytelling.
		<br><br>
		<i>" The idea first came to me when i had an exam a night before and like every other student i had'nt prepred for it. I started to scrape different websites to get insights on some topics. But the information present in the internet was JUST WAY TO MUCH.<br>Thus creating Quickpedia! "</i>
		<br><br>
		Thanking Wikipedia for there help, this would'nt be possible without Wikipedia and all those amazing people contrubuting to make a Wikipedia better!
		<br><br>
		This Project is Created & Maintained by Nishan Devaiah.
	</p>
{% endblock %}