{% extends "layout.html" %}

{% block donate %}
<div>
	<div><h1 id="donate_loading">Loading ...</h1></div>


<div id="donate_page_style">
	<script src="https://donorbox.org/widget.js" paypalExpress="true"></script><iframe allowpaymentrequest="" frameborder="0" height="900px" name="donorbox" scrolling="no" seamless="seamless" src="https://donorbox.org/embed/shortipedia?default_interval=o&amount=5&hide_donation_meter=true" style="max-width: 500px; min-width: 250px; max-height:none!important" width="100%"></iframe>
</div>
</div>
<!-- <div><h1 style="position: absolute; top: 150%;" id="c_heading_loading">Cryptocurrency</h1></div>

<div>
<p><h2 id="i_addr">Bitcoin<br>bc1qapqjlyk3cptdce3skrvc2ycvuhh52r9gxk70gp</h2></p>

<p><h2 id="i_addr1">Ethereum<br>0x3C7114F33EE77344bDa492A6a4df5492326b2587</h2></p>

<p><h2 id="i_addr2">Tron<br>TLgx3mtHMJAr45rpouPQ2YFd6Dxdw5KeYm</h2></p>

<p><h2 id="i_addr3">Monero<br>44tAm8TSrhTimMvQnfe4J2V8aSYvU3oGaQkpfWikVpmsdE2chrnsWXRHhnmFMWSAGTFmCi7XPyWpxAnpGaBnAg7CMwRbnbZ</h2></p>
</div>

<p><h2 id="i_addr4">Scala<br>SvjW7hZmZBoLm5VC78U8LDbPALyL8ssJ6jbYomVaJSdbg2WtXEUEMkkSMXDfqboEgQ4M8dE3V9cXjhj1ShBBn92y2Q25usJA1</h2></p>
</div> -->
{% endblock %}