{% extends "layout.html" %}

{% block help %}
	<p id="help_page_style">
		<b>Is Quickpedia free to use for Lifetime?</b><br>
		Yes, Quickpedia is 100% free to use and it is kept that way by your generous Donation's
		<br><br>
		<b>What is that Yellow Circle in this Website?</b><br>
		The Yellow Circle is the Navigation Bar of this Website.
		<br><br>
		<b>How to use Quickpedia?</b><br>
		First, enter the Article you want to search in the input box and hit enter on your keyboard. 
		After which a list of Possible terms will be generated in another rainbox box select the appropriate Article by clicking on it.
		Enjoy Reading.
		<br><br>
		<b>How can i support this Cause?</b><br>
		<a href=/donate style="text-decoration: none; color: magenta;">You can support our cause by just clicking here (or) by just clicking on the yellow button, then clicking on the Donate link.<br></a> 
		<a style="text-decoration: none; color: #21fa00" href="/donate">For every One Dollar you Donate a Tree will be planted across the globe.</i></a>
		<br><br>
		<b>Where can i see the Contributions that i made to this Website?</b><br>
		You can see your Contributions by clicking on the yellow button and clicking the Contributions link.
		<br><br>
		<b>How can i navigate to the Home Page of Quickpedia?</b><br>
		You can go to the Home page of this site by clicking on the yellow button then clicking on Home link.
		<br><br>
		<b>How can i Contact you?</b><br>
		You can Contact me by clicking on the yellow button and then clicking on the Contact link.
	</p>
{% endblock %}